# OS
Thumbs.db
.DS_Store

# Build
out
build
bin

# Compressed
*.zip 
*.rar
*.tar
*.tar.gz

# Other
*.log
*.swp
*.bak
*.jar
*.pdf

TP5/ServeurEx50/TP5.lock.db
TP5/ServeurEx50/TP5.h2.db
TP5/ServeurEx50/TP5.trace.db