thead tr:nth-child(1){
    background-color:black;
    color : white;
    font-family: Helvetica, Arial, Sans-Serif;
}


/* En gris une ligne sur deux */
tr:nth-child(even) {
    background: #CCC;
}

/* En blanc une ligne sur deux*/
tr:nth-child(odd) {
    background: #FFF;
}

/* La colonne des UE en cyan, l'indication important permet au style
de ne pas se faire ecraser par la coloration des lignes*/
tr.UE{
    background: #87CEEB!important;
}

/* Coloration syntaxique (voir fonction colorationNote */
.inf8{
    background-color: red;
}

.eightToTen{
    background-color:orange;
}

.tenToTwelve{
    background-color:yellow;
}

.supTwelve{
    background-color: green;   
}

@media screen and (max-width: 800px) {
    tr.UE{
        display:table-row;
    }
    
    tr,tr td{
        display:none;
    }

    /* */
    tr td:nth-child(4), tr td:nth-child(6){
        display:table-cell;
        
    }
}
