ul li {
    background-color: #777;
    counter-increment: ul;
}



ul li a{
    color:white;
}

#menu{
    background-color:blue;
}

#menu:hover{
    display:block;
}

#menu{
    position: absolute;
}

#menu ul li:hover > a
{
    display: block;
    background-color: #f6f6f6;
    color: black;
}

