#menu ul li {
    background-color: #777;
    color:#eee;
    margin-top: 1px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

#menu ul li a{
    text-decoration: none;
    color:#eee;
}

#menu ul li::before{
    counter-increment: menuH;
    content: counter(menuH) " - ";
}

#menu::before{
    padding: 3px;
    display: block;
    content: "\2630";
    background-color: #02b;
    color: white;
}

#menu ul{ 
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;  
    counter-reset:menuH; 
    list-style-type: none; 
}

#menu:hover > ul{
    display: block;
}

#menu ul li:hover
{    
    background-color: #f6f6f6;
    color: black;
}

body{
    margin:0;
}

#contents{
    counter-reset: titre;
}

.section{
    border-top: 1px solid black; 
}

h1{
    counter-increment: titre;
    /*content: counter(titre) " - ";*/
}

h2::before{
    counter-increment: titre;
    content: counter(titre) " - ";
}

h2{
    text-align: center;
}

.conclusion{
    text-align: right;
    background-color: black;
    color: #eee;
}
