#menu, #contents, #introduction{
    border: 1px solid #930;
}

#menu, #introduction {
    background-color: #fa0;
}

#menu li {
    color:  #930;
    display: inline-block;
    font-weight: bold;
    padding-right: 15px; 
}

#menu li:hover {
    text-decoration: underline;
}

#menu li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #930;
    display: inline-block;
    margin-right: 5px;
}

#menu ul{
    list-style-type: square;
    margin: 5px;
    padding: 0;
}

#menu li a{
    text-decoration: none;
    color:  #930;
}

#introduction{
    font-variant: small-caps;
    width: fit-content;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 0;
    float: left;
    padding: 20px;
}

#introduction::after {
    display: block;
    font-size: 0.4em;
    font-variant: normal;
    content: "From Wikipedia, the free encyclopedia";
}

.introduction p{
    font-style: italic;
}

.section{
    clear: both;
}

#contents{
    counter-reset: titre2;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#contents div:nth-last-of-type(2){
    border-top: 2px solid gold; 
}

h2{
    margin-left: 20px;
    text-decoration: underline;
}

h2::before{
    counter-increment: titre2;
    content: counter(titre2) ". ";
}

#conclusion{
    background-color: #930;
    color: #fff;
    float: right;
}

#conclusion p{
    margin: auto; 
}