/* Votre feuille de style ici */

li { color: green; }
li:nth-child(odd) { color: red; }

body {
    background-image: url("Exercice-13_fichiers/tunning.jpg");
    background-size: cover;
  } 
#menu ul{
    display: inline-flex;
    height: 60px;  
}




h1::first-letter{
    font-size: 200%;
    color: #8A2BE2;
}

#menu{
    border-right: none;  
}

#menu ul li{
    border: 3px solid green;
}

#menu ul li:nth-child(odd){
    border: 3px solid red;
}

#menu ul li {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
#menu ul li:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


